.button {
  margin: 1rem 0 0 auto;
  display: block;
  width: 32px;
  height: 32px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-family: Roboto, sans-serif;
}
